/* ------------------------------------------------------------------------------------- */
/* ************************************************************************************* */

.first {
    display: none;
}

/* ------------------------------------------------------------------------------------- */
/* ************************************************************************************* */

.second {
    width: 100vw;
    height: 100vh;
    margin: 1px;
}

/* ************************************************************************************* */

.second .scroll {
    max-height: 63vh;
}

/* ************************************************************************************* */

.second .place_hits {
    max-height: 35vh;
    overflow-x: auto; 
    display: flex;
    white-space: nowrap;
}
.place_hits::-webkit-scrollbar {
    display: none;
}
.place_hits .hits {
    width: 45vw;
    white-space: normal;
    padding: 20px;
}

/* ------------------------------------------------------------------------------------- */
/* ************************************************************************************* */

.third {
    display: none;
}
.current .names :nth-child(2) {
    display: none;
}

/* ------------------------------------------------------------------------------------- */
/* ************************************************************************************* */

.fourth .bar {
    gap: 5px;
    justify-content: normal;
    left: 3vw;
}
.bar p {
    display: none;
}

/* ************************************************************************************* */

.fourth .bar {
    padding-bottom: 10px;
    justify-content: space-between;
}
.fourth .extra_buttons {
    display: none;
}

/* ************************************************************************************* */

#seekbar {
    bottom: 0;
    position: absolute;
    width: 100%;
    left: 0;
}
#volumeRange {
    width: 65px;
}