/* ------------------------------------------------------------------------------------- */
/* ************************************************************************************* */

.main {
    padding-left: 5px;
}

/* ************************************************************************************* */

.library {
    padding: 0px;
}
.library header :first-child {
    padding: 5px;
}
.library .recent {
    display: none;
}
.library .image_4_5 {
    display: none;
}

/* ------------------------------------------------------------------------------------- */
/* ************************************************************************************* */

.second section {
    margin: 15px 10px;
}

/* ------------------------------------------------------------------------------------- */
/* ************************************************************************************* */

.credit_container .credit {
    justify-content: center;
}
.credit_container .credit p {
    display: none;
}

/* ************************************************************************************* */

.main_artist_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

/* ************************************************************************************* */

.next_song p {
    display: none;
}
.song {
    flex-direction: column;
}

/* ------------------------------------------------------------------------------------- */
/* ************************************************************************************* */

.fourth .bar {
    gap: 5px;
    justify-content: normal;
    left: 5vw;
}
.bar p {
    display: none;
}

/* ************************************************************************************* */

.fourth .extra_buttons {
    gap: 8px;
}

/* ************************************************************************************* */

#volumeRange {
    width: 65px;
}